<hibernate-configuration>
	<session-factory>

		<property name="hibernate.dialect" value="org.hibernate.dialect.MySQLDialect" />
		<property name="jakarta.persistence.jdbc.driver" value="com.mysql.cj.jdbc.Driver" />
		<property name="jakarta.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/hiber_demo" />
		<property name="jakarta.persistence.jdbc.user" value="root" />
		<property name="jakarta.persistence.jdbc.password" value="root" />
    	<property name="hibernate.show_sql ">true</property>
		<property name="hibernate.hbm2ddl.auto" value="create" />

	</session-factory>
</hibernate-configuration>